a{
	font-size:20px;
}

*{
  cursor: url(fond.jpg) 4 12, auto;
}
#petit{
	font-size:2.5px;
	text-decoration:none; 
}

h1{
	color: #ffff62;
	text-align: center;
}
.clignote  {
   animation-duration: .3s;
   animation-name: clignoter;
   animation-iteration-count: infinite;
   transition: none;
}

@keyframes clignoter {
  0%   { opacity:1; }
  2%   {opacity:0; }
  100% { opacity:1; }
}
.suivant{
	color: red;
	background-color: purple;
box-shadow: 65px 25px 5px grey;
}
p{
  font-size: 55px;
  font-weight: bold;
  color: #fff;
}